<!DOCTYPE html>
<head>
  <link rel ="stylesheet" href = "static/mainPage.css">
  <link rel ="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Rate My Class</title>
</head>
<div class="header">
<!--head etc-->
<body style="background-color:grey;">
  <!-- you can iterate on a list to add many items -->
  <h1>{{ title }}</h1>
  <!-- you can iterate on a list to add many items -->
  {%for i in range(0, len)%}
    <a href={{URLS[i]}}>
    <button class="button"><div class="demo-grab">{{ content[i] }}</div></button>
    </a>
  {%endfor%}
  </a> 
  <a href="https://www.youtube.com/watch?v=BBJa32lCaaY" class="fa fa-email">Contact Us</a>
</body>
</div>