<!DOCTYPE html>
<head>
  <link rel ="stylesheet" href = "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel = "stylesheet" href = "/static/reviews.css">
</head>
<!--head etc-->
<body style="background-color:grey;">
  <!-- you can iterate on a list to add many items -->
  <h1>{{ title }}</h1>
  <!-- you can iterate on a list to add many items -->
  {%for i in range(0, len)%}
    <div>
        <div>
            {%for x in range(0,reviewListMapping[i]["rating"]) %}
                <i class="fa fa-star checked"></i>
            {%endfor%}
            {%for x in range(0,(5-reviewListMapping[i]["rating"]))%}
                <i class="fa fa-star"></i>
            {%endfor%}
        </div>
        {% if reviewListMapping[i]["textReview"] is none %}
        <p>No Review</p>
        {% endif %}
        {% if reviewListMapping[i]["textReview"] is not none %}
        <p>{{reviewListMapping[i]["textReview"]}}</p>
        {% endif %}
    </div>
  {%endfor%}
  </a>
  <a href = "/">
    <button>Return Home</button>
  </a> 
</body>