<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/static/writeReview.css">
</head>
<body>
  <form method="POST">
      <div class = "rate">
        {{ form.csrf_token }}
        {% for subfield in form.rate %}
          <tr>
              <td>{{ subfield(id ="star"+(loop.index|string)) }}</td>
              <td>{{ subfield.label(for="star"+(loop.index|string),title = "text")}}</td>
          </tr>
        {% endfor %}
      </div>
      {{form.SubjectName.label}}
      {{form.SubjectName()}}
      {{form.className.label}}
      {{ form.className() }}
      {{form.reviewText.label}}
      {{form.reviewText()}}
      {{form.submit()}}
  </form>    
</body>
</html>

